@{
    ViewData["Title"] = "Privacidad";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h3>Política de Privacidad</h3>
                </div>
                <div class="card-body">
                    <p>Esta página protege tus datos personales.</p>
                    <p>Toda la información se maneja de forma segura.</p>
                    <hr />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>